* {
    border: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --Strong-cyan: hsl(172, 67%, 45%);
    --Very-dark-cyan: hsl(183, 100%, 15%);
    --Dark-grayish-cyan: hsl(186, 14%, 43%);
    --Dark-grayish-cyan: hsl(184, 14%, 56%);
    --Light-grayish-cyan: hsl(185, 41%, 84%);
    --Light-grayish-cyan1: hsl(189, 41%, 97%);
    --White: hsl(0, 0%, 100%);
}

body {
    font-family: 'Space Mono', monospace;
    font-size: 24px;
    background-color: var(--Light-grayish-cyan);
}

.container {
    width: 900px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.logo {
    margin-top: 120px;
    margin-bottom: 80px;
}

.calculator {
    width: 100%;
    height: 400px;
    background-color: white;
    border-radius: 10px;
    padding: 15px;
}